@import url("https://fonts.googleapis.com/css2?family=Candal&family=Hind+Madurai:wght@300;400;500&display=swap");

/*font-family: 'Candal', sans-serif;
font-family: 'Hind Madurai', sans-serif;*/

:root {
  --white: #fbfbfb;
  --dustyBlue: #c6cee4;
  --darkBlue: #5c72b2;

  --burntRed: #c07c65;
  --salmon: #e8d1c7;
  --lightOrange: #d0a899;

  --lightestPink: #f5f0f2;
  --lightPink: #efe7e9;
  --mediumPink: #e2cecb;
  --darkPink: #d8aca7;

  --darkBeige: #b49082;
  --beige: #dbcac3;
  --lightBeige: #e6dad5;

  --darkYellow: #d9c19d;
  --mediumYellow: #e7dac3;
  --lightYellow: #ece1cf;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- fonts ----------- */

a {
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  font-family: "Candal", sans-serif;
  color: var(--darkBlue);
}

h2 {
  font-family: "Hind Madurai", sans-serif;
  color: var(--darkBlue);
  font-weight: lighter;
}

h3 {
  font-family: "Candal", sans-serif;
  color: var(--darkBlue);
}

p {
  font-family: "Hind Madurai", sans-serif;
  color: var(--darkBlue);
  font-weight: lighter;
}

/* ----------- styling ----------- */

header {
  background-color: var(--dustyBlue);
  font-family: "Hind Madurai", sans-serif;
  font-size: 110%;
  font-weight: lighter;
}

footer {
  background-color: var(--burntRed);
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

/* ----------- .class ------------ */

.laura {
  position: absolute;
  bottom: 575px;
  font-size: 90%;
  transform: translateX(-50%);
}

.index_text {
  bottom: 620px;
  font-size: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(assets/dots_index_web.svg);
  background-size: 100%;
  padding-top: 20%;
  padding-bottom: 55%;
}

.portfolie_header {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.space1 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.space2 {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

/* --------- text --------- */
.h3 {
  font-size: 150%;
}

.h2 {
  font-size: 120%;
  margin-top: 0.5rem;
}

.h2_t {
  color: var(--white);
  font-size: 120%;
  padding-top: 0.2rem;
}

.p1 {
  font-size: 90%;
  font-weight: lighter;
}

.p2 {
  font-size: 90%;
  color: var(--darkBeige);
  font-weight: lighter;
}

/* -------- button -------- */

.button1 {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
  font-size: 110%;
  background-color: var(--darkBlue);
  color: var(--dustyBlue);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1rem;
  border-radius: 7px;
}

.button2 {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
  font-size: 110%;
  background-color: var(--burntRed);
  color: var(--white);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1rem;
  border-radius: 7px;
}

.button1 {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
  font-size: 110%;
  background-color: var(--darkBlue);
  color: var(--dustyBlue);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1rem;
  border-radius: 7px;
}
/* -------- box -------- */

.box1 {
  background: var(--lightPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}
.box2 {
  background: var(--salmon);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box3 {
  background: var(--dustyBlue);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box4 {
  background: var(--lightYellow);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box5 {
  background: var(--lightestPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box6 {
  background: var(--mediumPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box7 {
  background: var(--darkBlue);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.box1_om {
  background: var(--lightPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box2_om {
  background: var(--lightBeige);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.link1 {
  padding-top: 2rem;
}

/* -------- #id -------- */

/* -------- links header -------- */
a {
  color: var(--darkBlue);
  text-decoration: none;
}

a:hover {
  color: var(--burntRed);
  transition: 0.7s ease;
}

a:visited {
  text-decoration: none;
}

/* ----------- img ------------ */

.padding1 {
  padding: 1.5rem;
  background-color: var(--burntRed);
}

/* -------- burgermenu -------- */
.navbar {
  position: fixed;
  background-color: var(--dustyBlue);
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--burntRed);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--darkBlue);
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: var(--dustyBlue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (min-width: 600px) {
  .header_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
    margin-left: auto;
    margin-right: auto;
  }

  /* -------- text -------- */
  .h3 {
    font-size: 170%;
  }

  .h2 {
    font-size: 150%;
    margin-top: 0.5rem;
  }

  .h2_t {
    color: var(--white);
    font-size: 120%;
    padding-top: 0.2rem;
  }

  .p1 {
    font-size: 90%;
    font-weight: lighter;
  }

  .p2 {
    font-size: 90%;
    color: var(--darkBeige);
    font-weight: lighter;
  }

  /* ----- box  ----- */
  .box1_om {
    background: var(--lightPink);
    padding-bottom: 9rem;
    padding-top: 3rem;
    text-align: center;
  }

  /* ----- container ----- */
  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .header_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ----- container ----- */
  .two-col_p {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 990px) {
  .header_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  /* -------- text -------- */
  .h3 {
    font-size: 200%;
  }

  .h2 {
    font-size: 170%;
    margin-top: 0.5rem;
  }

  /* ----- container ----- */
  .two-col_p {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
}
