@import url("https://fonts.googleapis.com/css2?family=Candal&family=Hind+Madurai:wght@300;400;500&display=swap");

/*font-family: 'Candal', sans-serif;
font-family: 'Hind Madurai', sans-serif;*/

:root {
  --white: #fbfbfb;
  --dustyBlue: #c6cee4;
  --darkBlue: #5c72b2;

  --burntRed: #c07c65;
  --salmon: #e8d1c7;
  --lightOrange: #d0a899;

  --lightestPink: #f5f0f2;
  --lightPink: #efe7e9;
  --mediumPink: #e2cecb;
  --darkPink: #d8aca7;

  --darkBeige: #b49082;
  --beige: #dbcac3;
  --lightBeige: #e6dad5;

  --darkYellow: #d9c19d;
  --mediumYellow: #e7dac3;
  --lightYellow: #ece1cf;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** font *********************/

a {
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  font-family: "Candal", sans-serif;
  color: var(--darkBlue);
}

h2 {
  font-family: "Hind Madurai", sans-serif;
  color: var(--darkBlue);
  font-weight: lighter;
}

h3 {
  font-family: "Candal", sans-serif;
  color: var(--darkBlue);
}

p {
  font-family: "Hind Madurai", sans-serif;
  color: var(--darkBlue);
  font-weight: lighter;
}

/*************** styling *********************/

header {
  font-family: "Hind Madurai", sans-serif;
  font-size: 110%;
  font-weight: lighter;
}

footer {
  background-color: var(--burntRed);
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*************** .class *********************/

.header_index {
  background-color: var(--dustyBlue);
  padding: 20px;
}
.header_text {
  margin-left: auto;
  margin-right: auto;
}

.laura {
  position: absolute;
  bottom: 575px;
  font-size: 90%;
  transform: translateX(-50%);
}

.index_text {
  bottom: 620px;
  font-size: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(assets/dots_index_web.svg);
  background-size: 100%;
  padding-top: 20%;
  padding-bottom: 55%;
}

.portfolie_header {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.space1 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.space2 {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

/********** .text ***********/
.h3_cv {
  font-size: 150%;
}

.h2_cv {
  font-size: 120%;
  margin-top: 0.5rem;
}

.h2_t {
  color: var(--white);
  font-size: 120%;
  padding-top: 0.2rem;
}

.p1 {
  font-size: 90%;
  font-weight: lighter;
}

.p2 {
  font-size: 90%;
  color: var(--darkBeige);
  font-weight: lighter;
}

/********** .button ***********/

.button1 {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
  font-size: 110%;
  background-color: var(--darkBlue);
  color: var(--dustyBlue);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1rem;
  border-radius: 7px;
}

.button2 {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
  font-size: 110%;
  background-color: var(--burntRed);
  color: var(--white);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1rem;
  border-radius: 7px;
}

/********** .box ***********/

.box1 {
  background: var(--lightPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}
.box2 {
  background: var(--salmon);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box3 {
  background: var(--dustyBlue);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box4 {
  background: var(--lightYellow);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box5 {
  background: var(--lightestPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box6 {
  background: var(--mediumPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box7 {
  background: var(--darkBlue);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.box1_om {
  background: var(--lightPink);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.box2_om {
  background: var(--lightBeige);
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.link1 {
  padding-top: 2rem;
}

/*************** id# *********************/

/*************** links header *********************/
a {
  color: var(--darkBlue);
  text-decoration: none;
}

a:hover {
  color: var(--burntRed);
}

a:visited {
  text-decoration: none;
}

/*************** img *********************/

.padding1 {
  padding: 1.5rem;
  background-color: var(--burntRed);
}
